<ul class="list-unstyled">
  <% events.each do |event| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(event.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to event.user.name, user_path(event.user) %> <span class="text-muted">posted at <%= event.created_at %></span>
        </div>
        <div>
          <p><%= event.title %></p>
          <p><%= event.content %></p>
          <p><%= event.place %></p>
          <p><%= event.time %></p>
        </div>
        <div>
          <% if current_user == event.user %>
            <%= link_to "Delete", event, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate events %>
</ul>